/*----------------------------------------------------
GÉNÉRIQUE
----------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------------------------------------------------
ÉLÉMENTS
----------------------------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

a{
  text-decoration: none;
  color: #000;
}

h1, h2, h3{
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0;
}

h1{ 
  color: #FFF;
  font-size: 50px;
}

h2{
  color: #0E5EA1;
  font-size: 36px;
}

h3{
  color: #000;
  font-size: 24px;
}

p{
  margin: 0;
}

/*----------------------------------------------------
COMPONENTS
----------------------------------------------------*/

.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*HEADER*/
.header{
  background-color: #FFF;
  color: #000;

  padding-top: 26px;
  padding-bottom: 26px;
}

/*À RETRAVAILLER*/
.header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 30px;

  font-family: "Dosis", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

/*NAV*/
.menu{
  display: flex;
  gap: 30px;

  list-style-type: none;
  text-transform: uppercase;

  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 16px;

  padding: 0;
  margin: 0;
}

.menu a{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;

  border-radius: 5px;
}

.menu a:hover{
  background-color: #0E5EA1;
  color: #FFF;
}

/*HERO*/
.hero{
  background-image: url(../images/montagnes_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 136px;
  padding-top: 136px;

  color: #FFF;
}

.hero p{
  font-size: 24px;
  font-weight: bold;

  padding-top: 10px;
}

.boite{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  border-radius: 10px;

  background-color: rgb(0, 0, 0, 0.5);
}