/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Element - Base
------------------------------------------------------------------------------*/

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}